@use "styles/_mixins";

.btn {
  font-size: 1.4rem;
  transition: opacity 0.2s ease-out;
  background-color: var(--gray-100);
  padding: 1rem 2rem;
  border-radius: 0.7rem;

  .content {
    opacity: 0.6;
    transition: opacity 0.2s ease-out;
    @include mixins.flex();
    gap: 1rem;

    .icon {
      width: 1.3rem;
    }
  }

  &:hover .content {
    opacity: 1;
  }
}
