@use "styles/_mixins";

.wrapper {
  position: relative;
  display: block;
  width: 100%;

  .icon {
    position: absolute;
    top: 50%;
    left: 1.6rem;
    width: 1.9rem;
    transform: translateY(-50%);
    opacity: 0.5;

    path {
      fill: var(--black-100);
    }
  }

  .input {
    border: 0 none;
    border-radius: 1.5rem;
    padding: 1.4rem 2rem 1.4rem;
    font-size: 1.4rem;
    min-width: 28rem;
    outline: 0 none;
    border: 1px solid var(--gray-100);
    background-color: var(--gray-400);
    color: inherit;
    line-height: 0;

    &.search {
      padding-left: 4.7rem;
    }

    &:focus {
      border-color: var(--gray-300);
    }

    @include mixins.mediaquery("xs") {
      min-width: 32rem;
    }

    &.error {
      border-color: var(--red-100);
    }
  }

  input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
}
