@use "styles/_mixins";

.quote {
  background-color: rgba(148, 204, 255, 0.15);
  margin: 2rem -1.2rem;
  padding: 2rem 2.5rem;
  border-radius: 0 1.2rem 1.2rem 0;
  border-left: 4px solid var(--blue-100);
  position: relative;

  @include mixins.mediaquery("sm") {
    margin: 2rem -2rem;
  }

  .icon {
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    width: 14%;
    max-width: 9rem;
    z-index: 0;

    svg path {
      fill: rgba(148, 204, 255, 0.25);
    }
  }

  @include mixins.mediaquery("lg") {
    margin: 2.5rem -1.2rem;
  }

  .text,
  .author {
    position: relative;
    z-index: 1;
    opacity: 1;
    padding-left: 0;
    border: 0 none;
  }

  .author {
    margin: 0;
  }
}
