.banner {
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: rgba(252, 213, 59, 0.15);
  border-left: 4px solid var(--yellow-100);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: -1rem;
  border-radius: 0 1.2rem 1.2rem 0;
}
