@use "styles/_mixins";

.posts {
  @include mixins.flex(center, flex-start);
  flex-flow: column wrap;
  width: 100%;
  margin: 8.5rem 0 2rem;
  padding: 0 1rem;

  @include mixins.mediaquery("sm") {
    margin: 11rem 0 3rem;
    padding: 0;
  }

  @include mixins.mediaquery("lg") {
    margin: 14rem 0 3.5rem;
  }

  .title {
    font-size: 2.3rem;
    max-width: 55rem;
    margin-bottom: 3rem;

    @include mixins.mediaquery("sm") {
      margin-bottom: 3.5rem;
      font-size: 2.6rem;
    }

    @include mixins.mediaquery("xl") {
      margin-bottom: 4rem;
      font-size: 2.9rem;
    }
  }

  .wrapper {
    gap: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: start;
    width: 100%;

    @include mixins.mediaquery("sm") {
      grid-template-columns: 1fr 1fr;
    }

    @include mixins.mediaquery("lg") {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
