@use "styles/_mixins";

.wrapper {
  width: auto;
  height: auto;
  margin: 4rem -1.2rem;
  position: relative;
  @include mixins.flex;
  flex-flow: column wrap;
  gap: 1.4rem;

  @include mixins.mediaquery("sm") {
    margin: 4rem -2rem;
  }

  .nextImage {
    width: auto;
    height: 100%;
    position: relative;
  }

  .image {
    max-width: 100%;
    border-radius: 2rem;
  }

  .caption {
    font-size: 1.4rem;
    font-style: italic;
    opacity: 0.6;
    padding: 0 1rem;
  }
}
