@use "styles/_mixins";

.tile {
  width: 100%;
  grid-column: span 2;
  background-color: var(--white-100);
  border-radius: 2rem;
  box-shadow: var(--tile-shadow);
  @include mixins.flex(center, flex-start);
  flex-flow: column wrap;
  gap: 1.5rem;
  padding: 2rem;
  position: relative;

  @include mixins.mediaquery("xs") {
    justify-content: space-between;
    padding: 2.5rem;
  }

  .avatar {
    width: 6rem;
    position: relative;
    left: 1rem;

    @include mixins.mediaquery("xl") {
      width: 7rem;
      left: 1.5rem;
    }
  }

  .description {
    font-size: 1.4rem;

    @include mixins.mediaquery("lg") {
      font-size: 1.45rem;
    }

    .name {
      font-family: "Kenfolg";
      font-size: 2rem;
    }
  }

  .more {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.3rem;
    gap: 1rem;
    @include mixins.flex;
    border: 0.8px solid var(--gray-100);
    padding: 0.6rem 1.4rem;
    border-radius: 1rem;

    @include mixins.mediaquery("xs") {
      right: 2.5rem;
      top: 2.5rem;
    }

    .arrow {
      width: 9px;

      svg path {
        stroke: var(--black-100);
      }
    }
  }

  &:hover .description .name {
    color: var(--blue-200);
  }
}
