@use "styles/_mixins";

.wrapper {
  position: relative;

  .button {
    position: relative;
    padding: 0;
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;

    .cup {
      position: relative;
      z-index: 10;
    }

    .corn {
      position: absolute;
      top: 40%;
      transform-origin: center center;
    }
  }

  .confetti {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
}
