@use "styles/_mixins";

.wrapper {
  grid-area: categories;
  @include mixins.flex;
  flex-flow: column wrap;

  @include mixins.mediaquery("m") {
    align-items: flex-start;
  }

  .title {
    text-transform: uppercase;
    font-family: "GT Walsheim", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1.9px;
    font-size: 1.7rem;
    margin-bottom: 3rem;
  }

  .categories {
    @include mixins.flex(flex-start);
    flex-wrap: wrap;
    gap: 1rem;

    .category {
      font-size: 1.4rem;
      padding: 0.5rem 1.5rem;
      display: block;
      position: relative;
      color: var(--white-100);

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--blue-200);
        z-index: -1;
        border-radius: 0.7rem;
        transition: opacity 0.1s ease-in-out;
        opacity: 0.6;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }
}
