@use "styles/_mixins";

.container {
  @include mixins.flex;
  flex-flow: column wrap;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0 1rem;

  @include mixins.mediaquery("sm") {
    padding: 0;
  }

  * {
    scroll-margin-top: 2.5rem;
  }

  .header {
    width: 100%;
    @include mixins.flex(space-between);
    flex-wrap: wrap;
    gap: 1.4rem;
    max-width: min(666px, 100%);

    @include mixins.mediaquery("xxl") {
      max-width: 100%;
    }
  }

  .main {
    @include mixins.flex(center, flex-start);
    flex-direction: row-reverse;
    width: 100%;

    .wrapper {
      @include mixins.flex;
      flex-flow: column wrap;
      width: 100%;
      max-width: min(666px, 100%);
    }

    .thumbnail {
      position: relative;
      margin: 4rem -1.2rem;

      @include mixins.mediaquery("sm") {
        margin: 4.5rem -2rem;
      }

      img {
        border-radius: 2rem;
      }

      .arrow {
        position: absolute;
        bottom: 1.5rem;
        left: 1rem;
        background-color: var(--white-100);
        padding: 1rem;
        border-radius: 50%;
        @include mixins.flex;

        svg {
          width: 9px;

          path {
            stroke: var(--black-100);
          }
        }
      }
    }
  }

  .date,
  .views {
    width: 100%;
    text-align: right;
    font-size: 1.4rem;
    font-style: italic;
    color: var(--gray-300);
  }

  .date {
    margin-top: -5.5rem;
  }

  .views {
    margin-bottom: 4.5rem;
  }

  .links {
    @include mixins.flex(space-between);
    width: 100%;
    flex-wrap: wrap;
    gap: 0.9rem;
    font-size: 1.55rem;
    padding-bottom: 1.7rem;

    @media all and (min-width: 380px) {
      font-size: 1.6rem;
    }

    @include mixins.mediaquery("lg") {
      font-size: 1.75rem;
    }

    @include mixins.mediaquery("xl") {
      font-size: 1.85rem;
    }
  }
}
