@use "styles/_mixins";

.heading {
  margin: 7rem 0 1.4rem;
  position: relative;
  color: var(--mdx-heading-color);

  &:hover {
    .link .clip {
      opacity: 0.65;
    }
  }

  .link:focus {
    .clip {
      opacity: 0.65;
    }
  }

  .link {
    .clip {
      position: absolute;
      width: 2.6rem;
      height: 2.6rem;
      top: 50%;
      left: -3.2rem;
      transform: translateY(-50%);
      opacity: 0;
      transition: opacity 0.3s;
      display: none;

      svg path {
        stroke: var(--mdx-heading-color);
      }

      @include mixins.mediaquery("sm") {
        display: block;
      }

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
}

.h2 {
  font-size: 2.6rem;

  @include mixins.mediaquery("sm") {
    font-size: 2.8rem;
  }

  @include mixins.mediaquery("xl") {
    font-size: 3.2rem;
  }
}
.h3 {
  margin-top: 6rem;
  font-size: 2.1rem;

  @include mixins.mediaquery("sm") {
    font-size: 2.45rem;
  }

  @include mixins.mediaquery("xl") {
    font-size: 2.85rem;
  }
}
.h4 {
  margin-top: 5rem;
  font-size: 2rem;

  @include mixins.mediaquery("sm") {
    font-size: 2.5rem;
  }

  @include mixins.mediaquery("xl") {
    font-size: 2.9rem;
  }
}
.h5 {
  margin-top: 4rem;
  font-size: 1.9rem;

  @include mixins.mediaquery("sm") {
    font-size: 2.4rem;
  }

  @include mixins.mediaquery("xl") {
    font-size: 2.8rem;
  }
}
.h6 {
  margin-top: 3rem;
  font-size: 1.8rem;

  @include mixins.mediaquery("sm") {
    font-size: 2.3rem;
  }

  @include mixins.mediaquery("xl") {
    font-size: 2.7rem;
  }
}
