@use "styles/_mixins";

.wrapper {
  position: relative;
  display: block;
  width: 100%;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    border-radius: 2rem;
    transition: opacity 0.1s ease-in;
  }

  &:focus-within::after {
    opacity: 1;
  }

  .input {
    border: 0 none;
    border-radius: 1.5rem;
    padding: 1.1rem 2rem;
    font-size: 1.4rem;
    min-width: 26rem;
    outline: 0 none;
    border: 1px solid #edebe8;
    background-color: #fcfcfc;

    &:focus {
      border-color: #ccc;
    }

    @include mixins.mediaquery("xs") {
      min-width: 30rem;
    }
  }
}
