@use "styles/_mixins";

.wrapper {
  position: relative;
  display: block;
  width: 100%;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    border-radius: 2rem;
    transition: opacity 0.1s ease-in;
  }

  &:focus-within::after {
    opacity: 1;
  }

  .input {
    border: 0 none;
    border-radius: 1.5rem;
    padding: 1.1rem 2rem;
    font-size: 1.4rem;
    min-width: 26rem;
    outline: 0 none;
    border: 1px solid var(--gray-100);
    background-color: var(--gray-400);

    &:focus {
      border-color: var(--gray-300);
    }

    @include mixins.mediaquery("xs") {
      min-width: 30rem;
    }
  }

  input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
}
