@use "styles/_mixins";

.wrapper {
  @include mixins.flex;
  gap: 7rem;
  width: 100%;

  .form {
    @include mixins.flex;
    flex-flow: column wrap;
    gap: 1rem;
    width: 100%;
    max-width: 42rem;

    &.box {
      padding: 0 2rem;
      border-radius: 2rem;

      @include mixins.mediaquery("lg") {
        padding: 0 3rem;
      }
    }

    @include mixins.mediaquery("lg") {
      gap: 1.3rem;
    }

    input {
      width: 100%;
      min-width: auto;
    }

    .message {
      border-radius: 1.5rem;
      padding: 1.1rem 2rem;
      font-size: 1.4rem;
      width: 100%;
      outline: 0 none;
      border: 1px solid var(--gray-100);
      background-color: var(--gray-400);
      resize: vertical;

      &:focus {
        border-color: var(--gray-300);
      }

      &.error {
        border-color: var(--red-100);
      }
    }

    .btn {
      width: 100%;
      border-radius: 1.5rem;
      border: 0 none;
      padding: 1.1rem 2rem;
      font-size: 1.4rem;
      background-color: var(--gray-100);
      cursor: pointer;

      .loader {
        position: relative;
        padding: 1.14rem 0;

        & > * {
          --color: var(--black-100);
          --size: 1rem;
        }
      }

      &.rejected {
        background-color: var(--red-100);
        color: var(--white-100);
      }

      &.fullfilled {
        background-color: var(--green-100);
        color: var(--white-100);
      }

      @include mixins.mediaquery("lg") {
        font-size: 1.5rem;
      }

      &:disabled {
        cursor: default;
      }
    }
  }

  .avatar {
    min-width: 35rem;
    display: none;

    @include mixins.mediaquery("lg") {
      display: block;
    }
  }
}
