@use "styles/_mixins";

.link {
  width: 100%;

  .post {
    width: 100%;

    .image {
      position: relative;
      margin-bottom: 0.4rem;
      width: 100%;
      height: 24rem;

      @include mixins.mediaquery("xs") {
        height: 30rem;
      }

      @include mixins.mediaquery("sm") {
        height: 25rem;
      }

      @include mixins.mediaquery("lg") {
        height: 23rem;
        margin-bottom: 0.7rem;
      }

      img {
        border-radius: 2rem;
      }
    }

    .title {
      font-size: 1.8rem;
      padding: 1rem;
      padding-top: 0.3rem;
      color: var(--black-100);

      @include mixins.mediaquery("lg") {
        font-size: 2rem;
      }

      @include mixins.mediaquery("xl") {
        font-size: 2.2rem;
      }
    }

    .info {
      padding: 0.8rem 1rem;
      @include mixins.flex(flex-start);
      gap: 0.7rem;
      font-size: 1.3rem;
      color: var(--black-300);

      @include mixins.mediaquery("lg") {
        font-size: 1.4rem;
      }
    }
  }
}
