@use "styles/_mixins";

.tile {
  border-radius: 2rem;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  background-color: var(--white-100);
  user-select: none;
  cursor: pointer;
  box-shadow: var(--tile-shadow);
}
