.category {
  font-size: 1.4rem;
  padding: 0.5rem 1.5rem;
  display: block;
  position: relative;
  color: var(--white-200);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue-200);
    z-index: -1;
    border-radius: 0.7rem;
    opacity: 0.6;
  }

  &:hover::after {
    opacity: 1;
  }
}
