@use "styles/_mixins";

.breadcrumbs {
  @include mixins.flex;
  gap: 0.6rem;

  @include mixins.mediaquery("lg") {
    gap: 0.9rem;
  }

  .separator {
    width: 9px;
    opacity: 0.35;

    svg path {
      fill: var(--black-100);
    }

    @include mixins.mediaquery("lg") {
      width: 11px;
    }

    @include mixins.mediaquery("xl") {
      width: 12px;
    }
  }

  .link {
    font-size: 1.4rem;
    opacity: 0.6;
    color: var(--black-100);

    &:hover {
      opacity: 1;
    }

    @include mixins.mediaquery("lg") {
      font-size: 1.5rem;
    }

    @include mixins.mediaquery("xl") {
      font-size: 1.6rem;
    }
  }
}
