@use "styles/_mixins";

.wrapper {
  padding: 3rem 0;
  margin: 0 auto;
  width: 100%;
  max-width: 110rem;
  @include mixins.flex;
  flex-flow: column wrap;

  @include mixins.mediaquery("sm") {
    padding: 3rem 4rem;
  }

  .header {
    display: grid;
    grid-template-columns: auto;

    @include mixins.mediaquery("sm") {
      grid-template-columns: 1fr auto 1fr;
      width: 100%;
    }

    .logo {
      max-width: 4rem;
      transform: scale(0);
      position: absolute;

      @include mixins.mediaquery("sm") {
        transform: scale(1);
        position: static;
      }

      svg {
        width: 100%;
      }
    }

    .contact {
      @include mixins.flex;
      gap: 1.1rem;
      font-size: 1.4rem;
      font-weight: 600;
      display: none;
      justify-self: end;
      color: var(--black-100);

      @include mixins.mediaquery("sm") {
        display: flex;
      }

      &:hover svg {
        transform: translate(5px, -7px) rotate(20deg);
      }
      svg {
        width: 1.6rem;
        transition: transform 0.2s ease-out;

        path {
          fill: var(--black-100);
        }
      }
    }
  }

  .main {
    margin: 4.5rem 0;
    padding: 0 2rem;
    width: 100%;
    @include mixins.flex;
    flex-flow: column wrap;

    @include mixins.mediaquery("sm") {
      padding: 0;
    }

    @include mixins.mediaquery("lg") {
      margin: 5rem 0;
    }
  }
}
