@use "styles/_mixins";

.wrapper {
  grid-area: popular;
  @include mixins.flex(flex-start);
  flex-flow: column wrap;

  @include mixins.mediaquery("m") {
    align-items: flex-start;
  }

  .title {
    text-transform: uppercase;
    font-family: var(--font-walsheim), "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1.9px;
    font-size: 1.7rem;
  }

  .posts {
    list-style-type: none;
    margin: 0;
    margin-top: 3rem;
    padding: 0;
    width: 100%;
    @include mixins.flex(flex-start);
    flex-flow: column wrap;
    gap: 1.6rem;

    @include mixins.mediaquery("m") {
      margin-left: -2.7rem;
    }

    &.skeleton {
      margin-left: 0;
    }

    .post {
      font-size: 2rem;
      font-weight: 700;
      @include mixins.flex(flex-start, flex-start);
      width: 100%;

      .icon {
        min-width: 1.1rem;
        width: 1.1rem;
        margin-right: 1.6rem;
        margin-top: 1rem;

        svg path {
          stroke: var(--blue-200);
        }
      }

      a:hover {
        color: var(--blue-200);
      }
    }
  }
}
