@use "styles/_mixins";

.container {
  @include mixins.flex;
  flex-flow: column wrap;
  width: 100%;
  margin-top: 3.5rem;

  .header {
    width: 100%;
    @include mixins.flex(space-between);
    flex-wrap: wrap;
    gap: 1.4rem;

    .info {
      @include mixins.flex(center, flex-start);
      flex-flow: column wrap;
      gap: 1rem;

      .path {
        @include mixins.flex;
        gap: 0.4rem;

        @include mixins.mediaquery("lg") {
          gap: 0.7rem;
        }

        .separator {
          width: 9px;

          svg path {
            fill: var(--gray-300);
          }

          @include mixins.mediaquery("lg") {
            width: 11px;
          }

          @include mixins.mediaquery("xl") {
            width: 12px;
          }
        }

        .link {
          font-size: 1.35rem;
          transition: opacity 0.2s ease-out;
          opacity: 0.65;

          &:hover {
            opacity: 1;
          }

          @include mixins.mediaquery("lg") {
            font-size: 1.5rem;
          }

          @include mixins.mediaquery("xl") {
            font-size: 1.6rem;
          }
        }
      }

      .title {
        font-size: 2.9rem;

        @include mixins.mediaquery("lg") {
          font-size: 3rem;
        }

        @include mixins.mediaquery("xl") {
          font-size: 3.7rem;
        }
      }

      .description {
        max-width: 45rem;
        font-size: 1.65rem;

        @include mixins.mediaquery("lg") {
          font-size: 1.75rem;
        }

        @include mixins.mediaquery("xl") {
          max-width: 52rem;
          font-size: 1.85rem;
        }
      }
    }

    .github {
      @include mixins.flex;
      gap: 0.7rem;
    }
  }

  .main {
    @include mixins.flex(center, flex-start);
    flex-direction: row-reverse;
    gap: 8rem;

    .wrapper {
      @include mixins.flex;
      flex-flow: column wrap;
      width: 100%;
      max-width: min(686px, 100%);
    }

    .thumbnail {
      position: relative;
      margin: 4.5rem 0;

      img {
        border-radius: 2rem;
      }

      .arrow {
        position: absolute;
        bottom: 1.5rem;
        left: 1rem;
        background-color: var(--white-100);
        padding: 1rem;
        border-radius: 50%;
        @include mixins.flex;
        transition: transform 0.2s ease-in-out;

        svg {
          width: 9px;
        }
      }

      &:hover .arrow {
        transform: rotate(45deg);
      }
    }
  }
}
