@use "styles/_mixins";

.link {
  .text {
    color: var(--blue-200);
    padding: 0;
    background-image: linear-gradient(currentColor, currentColor);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: 0% 1.7px;
    transition: background-size 0.25s ease;

    &:hover,
    &:focus {
      background-size: 100% 1.7px;
    }
  }

  .icon {
    padding: 0 0.7rem;
    white-space: nowrap;

    svg {
      width: 10px;
      display: inline;

      path {
        stroke: var(--blue-200);
      }
    }
  }
}
