@use "styles/_mixins";

.thumbnail {
  width: 100%;

  .wrapper {
    position: relative;
    .blur {
      position: absolute;
      top: 5%;
      left: 2.5%;
      width: 95%;
      height: 95%;
      background-size: cover;
      filter: blur(60px);
    }

    .image {
      position: relative;
      margin-bottom: 0.4rem;
      width: 100%;
      border-radius: 2rem;

      .label {
        position: absolute;
        top: 20px;
        right: 0;
        z-index: 2;
        padding: 0.5rem 1.5rem;
        font-size: 1.2rem;
        font-weight: 600;
        border-radius: 1rem 0 0 1rem;
        display: none;
      }

      @include mixins.mediaquery("lg") {
        margin-bottom: 0.7rem;
      }

      img {
        border-radius: 2rem;
      }
    }
  }

  &.featured {
    .image {
      .label {
        display: block;
        background-color: var(--blue-200);
        color: var(--white-200);
        font-weight: bold;
      }
    }
  }

  &.archived {
    .image {
      overflow: hidden;

      .label {
        display: block;
        background-color: var(--yellow-100);
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 6%;
        z-index: 1;
        background-image: repeating-linear-gradient(
          -45deg,
          var(--black-200),
          var(--black-200) 20px,
          var(--yellow-100) 20px,
          var(--yellow-100) 40px
        );
      }

      &::before {
        top: -11%;
        left: -30%;
        rotate: -63deg;
      }

      &::after {
        bottom: 35%;
        left: -35%;
        rotate: 63deg;
      }

      img {
        filter: grayscale(70%);
      }
    }
  }

  .content {
    @include mixins.flex(center, flex-start);
    flex-flow: column wrap;
    padding: 1rem;

    .title {
      font-size: 2rem;
      margin-bottom: 1rem;
      width: 100%;

      @include mixins.mediaquery("lg") {
        font-size: 2.2rem;
      }

      @include mixins.mediaquery("xl") {
        font-size: 2.5rem;
      }
    }

    .excerpt {
      font-size: 1.4rem;
      margin-bottom: 1.5rem;
      color: var(--black-300);
      width: 100%;

      @include mixins.mediaquery("lg") {
        font-size: 1.45rem;
      }
    }

    .stack {
      @include mixins.flex(flex-start);
      gap: 0.8rem 1rem;
      flex-wrap: wrap;
      width: 100%;

      .tech {
        font-size: 1.3rem;
        background-color: var(--white-100);
        padding: 0.4rem 1.4rem;
        border-radius: 2rem;
        border: 0.5px solid var(--white-200);
      }
    }
  }
}
