@use "styles/_mixins";

.container {
  position: relative;
  @include mixins.flex;
  gap: 1.8rem;

  .text {
    font-weight: 500;
    font-size: 1.6rem;
    padding-top: 0.3rem;
    opacity: 0.6;
  }

  .wrapper {
    position: absolute;
    right: 0;
    top: 20%;
    transform: translateX(calc(100% + 2px));
    opacity: 0.4;
    pointer-events: none;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-12px);
    opacity: 0;
  }
}
