@use "styles/_mixins";

.posts {
  width: 100%;
  @include mixins.flex(center, flex-start);
  flex-wrap: wrap;
  gap: 5rem;

  .hero {
    width: 100%;
    @include mixins.flex;
    flex-flow: column wrap;

    .title {
      text-align: center;
      padding-bottom: 0.5rem;
      font-size: 3rem;

      @include mixins.mediaquery("lg") {
        font-size: 3.3rem;
      }

      @include mixins.mediaquery("xl") {
        font-size: 3.6rem;
      }
    }

    .description {
      text-align: center;
      font-size: 1.7rem;
      padding-bottom: 5.2rem;
      max-width: 30rem;

      @include mixins.mediaquery("lg") {
        font-size: 1.8rem;
      }

      @include mixins.mediaquery("xl") {
        margin-top: 0.3rem;
        font-size: 1.9rem;
      }
    }
  }
}
