@use "styles/_mixins";

.hero {
  width: 100%;
  @include mixins.flex(center, center);
  flex-wrap: wrap;
  gap: 5rem;

  @include mixins.mediaquery("lg") {
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
  }

  .text {
    width: min(47.5rem, 100%);
    .title {
      font-size: 2.6rem;
      margin-bottom: 2rem;

      @include mixins.mediaquery("sm") {
        font-size: 2.8rem;
      }

      @include mixins.mediaquery("xl") {
        font-size: 3.2rem;
      }
    }

    .description {
      font-size: 1.5rem;
      line-height: 1.9;

      .paragraph {
        display: block;
        margin-bottom: 1.2rem;
        color: var(--black-300);
      }

      @include mixins.mediaquery("lg") {
        font-size: 1.8rem;
      }
    }

    .views {
      border: 1px solid var(--gray-300);
      background-color: var(--gray-400);
      padding: 1rem 2rem;
      width: fit-content;
      border-radius: 1rem;
    }
  }

  .image {
    @include mixins.flex(flex-end);
    img {
      border-radius: 2rem;
    }
  }
}
