.container {
  position: relative;
  overflow: hidden;
  height: 100%;

  .skeleton {
    position: absolute;
    inset: 0;
  }
}

.fade {
  transition: opacity 200ms ease;
  opacity: 0;

  &.loaded {
    opacity: 1;
  }
}
