@use "styles/_mixins";

.projects {
  width: 100%;
  @include mixins.flex(center, flex-start);
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: 3rem;

  .hero {
    width: 100%;
    @include mixins.flex;
    flex-flow: column wrap;

    .title {
      text-align: center;
      padding-bottom: 0.5rem;
      font-size: 2.7rem;

      @include mixins.mediaquery("lg") {
        font-size: 3rem;
      }

      @include mixins.mediaquery("xl") {
        font-size: 3.6rem;
      }
    }

    .description {
      text-align: center;
      font-size: 1.4rem;
      padding-bottom: 5.2rem;
      max-width: 28rem;

      @include mixins.mediaquery("lg") {
        font-size: 1.5rem;
      }

      @include mixins.mediaquery("xl") {
        font-size: 1.6rem;
      }
    }
  }

  .list {
    list-style-type: none;
    width: 100%;
    @include mixins.flex(center, flex-start);
    flex-wrap: wrap;
    gap: 4rem;
    margin: 0;
    padding: 0;

    .hit {
      flex: 0 1 46rem;
      @include mixins.flex(flex-start, flex-start);
      flex-flow: column wrap;
    }
  }
}

@media all and (min-width: 924px) {
  .projects .list {
    justify-content: space-between;
  }
}
