.skeleton {
  background-color: var(--gray-100);
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    var(--gray-100);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
  border-radius: 2rem;
  width: 100%;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}
