@use "styles/_mixins";

.posts {
  width: 100%;
  @include mixins.flex(center, flex-start);
  flex-wrap: wrap;

  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "posts" "categories" "popular";
    width: 100%;
    gap: 6rem 10rem;
    position: relative;
    max-width: 500px;

    @include mixins.mediaquery("m") {
      max-width: 100%;
      grid-template-columns: 5fr 3fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "posts categories" "posts popular";
    }

    .wrapper {
      grid-area: posts;
      @include mixins.flex(flex-start);
      flex-flow: column wrap;
      gap: 3.5rem;

      @include mixins.mediaquery("m") {
        gap: 5rem;
      }

      .loading {
        position: relative;
        padding: 4rem 0;

        & > div {
          --color: var(--blue-100);
        }
      }

      .searchedCategory {
        text-align: left;
        width: 100%;
        color: var(--red-100);
        font-size: 2.7rem;
        margin-bottom: -1rem;
        padding-left: 2.5rem;

        @include mixins.mediaquery("lg") {
          padding-left: 2.7rem;
          font-size: 2.95rem;
          margin-bottom: -2rem;
        }

        @include mixins.mediaquery("xl") {
          font-size: 3.3rem;
        }
      }

      .list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        @include mixins.flex;
        flex-flow: column wrap;
        gap: 1.6rem;
      }
    }
  }
}
