@use "styles/_mixins";

.posts {
  width: 100%;
  @include mixins.flex(center, flex-start);
  flex-wrap: wrap;

  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "posts" "categories" "popular";
    width: 100%;
    gap: 6rem 10rem;
    position: relative;
    max-width: 500px;

    @include mixins.mediaquery("m") {
      max-width: 100%;
      grid-template-columns: 5fr 3fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "posts categories" "posts popular";
    }

    .wrapper {
      grid-area: posts;
      @include mixins.flex(flex-start);
      flex-flow: column wrap;
      gap: 3.5rem;

      @include mixins.mediaquery("m") {
        gap: 5rem;
      }

      .list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        @include mixins.flex;
        flex-flow: column wrap;
        gap: 1.6rem;
      }
    }
  }
}
