@use "styles/_mixins";

.project {
  border-radius: 2rem;
  grid-row: span 2;
  position: relative;
  display: block;

  img {
    border-radius: 2rem;
  }

  .arrow {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-color: var(--white-100);
    padding: 1rem;
    border-radius: 50%;
    @include mixins.flex;

    svg {
      width: 9px;
    }
  }
}
