@use "styles/_mixins";

.graph {
  @include mixins.flex;
  flex-flow: column wrap;
  display: none;

  @include mixins.mediaquery("lg") {
    display: flex;
  }
  img {
    border-radius: 2rem;
  }

  .caption {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    font-style: italic;
    opacity: 0.6;
  }
}
