@use "styles/_mixins";

.form {
  width: 100%;
  position: relative;
  margin-top: 4rem;

  .btn {
    border: 0 none;
    cursor: pointer;
    font-size: 1.45rem;
    padding: 1.4rem 2rem;
    border-radius: 1.5rem;
    color: var(--white-200);
    background-color: var(--blue-100);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    @include mixins.flex;
    gap: 0.8rem;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    svg {
      width: 1.2rem;
    }
  }

  input {
    padding-right: 10.5rem !important;
  }
}

.answersWrapper {
  width: 100%;
  @include mixins.flex(center, stretch);
  border: 1px solid var(--gray-100);
  background-color: var(--gray-400);
  min-height: 20rem;
  padding: 1.4rem 2rem 1.4rem;
  font-size: 1.4rem;
  border-radius: 1.5rem;
  margin-top: 1.5rem;
  position: relative;

  .placeholder {
    @include mixins.flex;
  }

  .answers {
    width: 100%;
    height: 100%;
    @include mixins.flex(flex-start, flex-start);
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 1rem;
    position: relative;
    z-index: 3;

    .answer {
      font-size: 1.4rem;
      padding: 0.3rem 1.5rem;
      border-radius: 1.5rem;
      border: 0 none;
      background-color: var(--gray-500);
      cursor: pointer;
      position: relative;
      transition: background-color 0.1s;

      .close {
        width: 100%;
        max-width: 1.2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.1s;

        svg path {
          fill: var(--black-100);
        }
      }

      .text {
        transition: opacity 0.1s;
      }

      &.unchecked:hover {
        .close {
          opacity: 1;
        }

        .text {
          opacity: 0;
        }
      }

      &.correct {
        color: var(--white-200);
        background-color: var(--green-100);
        cursor: default;
      }

      &.incorrect {
        color: var(--white-200);
        background-color: var(--red-100);
        cursor: default;
      }
    }
  }

  .result {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include mixins.flex;
    flex-flow: column wrap;
    gap: 0.2rem;
    font-size: 1.6rem;
    border-radius: 1.5rem;
    backdrop-filter: blur(9px);
    opacity: 0;
    transition: opacity 0.15s;
    text-align: center;
    padding: 3rem;
    z-index: 2;

    &.active {
      opacity: 1;
      z-index: 4;
    }
  }

  .resultBtn {
    position: absolute;
    right: 1rem;
    bottom: 0.7rem;
    border: 0 none;
    background-color: transparent;
    color: var(--gray-300);
    text-decoration: underline;
    cursor: pointer;
    z-index: 5;

    &:hover {
      text-decoration: none;
    }
  }
}

.info {
  width: 100%;
  @include mixins.flex(space-between, flex-start);
  margin-top: 1.5rem;
  padding: 0 0.5rem;

  .buttons {
    @include mixins.flex;
    gap: 1rem;

    .button {
      border: 0 none;
      cursor: pointer;
      font-size: 1.45rem;
      padding: 0.65rem 2rem;
      border-radius: 1.7rem;
      color: var(--white-200);

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }

      &.reset {
        background-color: var(--red-100);
      }

      &.check {
        background-color: var(--green-100);
      }
    }
  }

  .counter {
    font-size: 1.4rem;
    color: var(--gray-300);
  }
}
