@use "styles/_mixins";

.info {
  @include mixins.flex(center, flex-start);
  flex-flow: column wrap;
  gap: 1rem;

  .path {
    @include mixins.flex;
    gap: 0.4rem;

    @include mixins.mediaquery("lg") {
      gap: 0.7rem;
    }

    .separator {
      width: 9px;

      svg path {
        fill: var(--gray-300);
      }

      @include mixins.mediaquery("lg") {
        width: 11px;
      }

      @include mixins.mediaquery("xl") {
        width: 12px;
      }
    }

    .link {
      font-size: 1.4rem;
      transition: opacity 0.2s ease-out;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }

      @include mixins.mediaquery("lg") {
        font-size: 1.5rem;
      }

      @include mixins.mediaquery("xl") {
        font-size: 1.6rem;
      }
    }
  }

  .title {
    font-size: 3rem;
    max-width: 70rem;

    @include mixins.mediaquery("sm") {
      font-size: 3.3rem;
    }

    @include mixins.mediaquery("xl") {
      font-size: 3.6rem;
    }
  }

  .excerpt {
    max-width: 55rem;
    font-size: 1.7rem;
    line-height: 1.65;
    color: var(--black-300);

    @include mixins.mediaquery("sm") {
      font-size: 1.8rem;
    }

    @include mixins.mediaquery("xl") {
      max-width: 68rem;
      font-size: 1.9rem;
    }
  }
}

.github {
  @include mixins.flex;
  gap: 0.7rem;
}
