@use "styles/_mixins";

.thumbnail {
  width: 100%;

  .image {
    margin-bottom: 0.4rem;
    width: 100%;

    @include mixins.mediaquery("lg") {
      margin-bottom: 0.7rem;
    }

    img {
      border-radius: 2rem;
    }
  }

  .content {
    @include mixins.flex(center, flex-start);
    flex-flow: column wrap;
    padding: 1rem;

    .title {
      font-size: 2rem;
      margin-bottom: 1rem;

      @include mixins.mediaquery("lg") {
        font-size: 2.2rem;
      }

      @include mixins.mediaquery("xl") {
        font-size: 2.5rem;
      }
    }

    .excerpt {
      font-size: 1.4rem;
      margin-bottom: 1.5rem;
      color: var(--black-300);

      @include mixins.mediaquery("lg") {
        font-size: 1.45rem;
      }
    }

    .stack {
      @include mixins.flex(flex-start);
      gap: 0.8rem 1rem;
      flex-wrap: wrap;

      .tech {
        font-size: 1.3rem;
        background-color: var(--white-100);
        padding: 0.4rem 1.4rem;
        border-radius: 2rem;
        border: 0.5px solid var(--white-200);
      }
    }
  }
}
