@use "styles/_mixins";

.wrapper {
  grid-column: 1 / span 2;
  width: 100%;
  padding: 2rem;
  background-color: var(--white-100);
  background-position: center center;
  background-size: cover;
  border-radius: 2rem;
  position: relative;
  min-height: 10rem;
  box-shadow: var(--tile-shadow);
  overflow: hidden;
  @include mixins.flex;

  &.dataWrapper {
    justify-content: flex-start;
  }

  .error {
    @include mixins.flex;
    gap: 3rem;

    @include mixins.mediaquery("lg") {
      gap: 1.7rem;
      flex-flow: column wrap;
    }

    .icon {
      @include mixins.flex;
      svg {
        width: 4.5rem;
        path {
          fill: var(--red-100);
        }
      }
    }

    .description {
      color: var(--red-100);
      font-size: 1.4rem;
      text-align: center;
      max-width: 85%;
    }
  }

  @include mixins.mediaquery("xs") {
    padding: 2.5rem;
  }

  @include mixins.mediaquery("lg") {
    grid-column: 1 / span 1;
    aspect-ratio: 1 / 1;
    border-radius: 2.5rem;
  }

  .content {
    @include mixins.flex(flex-start);

    @include mixins.mediaquery("lg") {
      padding: 2.5rem;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @include mixins.flex(space-between, flex-start);
      flex-flow: column wrap;
    }

    .logo {
      width: 35px;
      height: 35px;
      display: none;

      @include mixins.mediaquery("lg") {
        display: block;
      }

      @include mixins.mediaquery("xl") {
        width: 40px;
        height: 40px;
      }

      svg path {
        fill: var(--green-100);
      }
    }

    .info {
      position: relative;
      z-index: 2;

      .label {
        color: var(--green-100);
        @include mixins.flex(flex-start);
        gap: 0.5rem;
        font-size: 1.2rem;

        @include mixins.mediaquery("lg") {
          font-size: 1.3rem;
        }

        svg {
          width: 14px;
          path {
            fill: var(--green-100);
          }
        }

        .barWrapper {
          .bar {
            display: inline-block;
            position: relative;
            margin-right: 1px;
            width: 3px;
            height: 1px;
            overflow: hidden;
            background-color: var(--green-100);
            color: transparent;
            animation-name: pulse;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            border-radius: 25%;

            &1 {
              animation-delay: 0.5s;
            }

            &3 {
              animation-delay: 1.2s;
            }
          }
        }
      }

      .title {
        margin: 0.3rem 0;
        line-height: 1.35;

        @include mixins.mediaquery("xs") {
          font-size: 1.6rem;
        }

        @include mixins.mediaquery("lg") {
          font-size: 1.8rem;
        }
      }

      .description {
        font-size: 1.15rem;
        color: var(--black-300);

        @include mixins.mediaquery("xs") {
          font-size: 1.25rem;
        }

        @include mixins.mediaquery("lg") {
          font-size: 1.2rem;
        }
      }
    }

    .album {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      max-width: 40%;

      @include mixins.mediaquery("lg") {
        display: none;
      }
    }
  }

  &:hover .title {
    color: var(--blue-200);
  }
}

@keyframes pulse {
  0% {
    height: 1px;
    margin-top: 0;
  }
  10% {
    height: 15px;
    margin-top: -15px;
  }
  50% {
    height: 5px;
    margin-top: -5px;
  }
  60% {
    height: 7px;
    margin-top: -7x;
  }
  80% {
    height: 15px;
    margin-top: -15px;
  }
  100% {
    height: 1px;
    margin-top: 0;
  }
}
