@use "styles/_mixins";

.footer {
  width: 100%;
  background-color: var(--gray-100);
  @include mixins.flex;

  .wrapper {
    padding: 3rem;
    padding-bottom: 1rem;
    @include mixins.flex(center, flex-start);
    flex-flow: column wrap;
    gap: 2rem;
    width: 100%;
    font-size: 1.5rem;
    max-width: 110rem;

    @include mixins.mediaquery("sm") {
      padding: 2.5rem 4rem;
      padding-bottom: 1rem;
      gap: 1.5rem;
    }
  }

  .title {
    font-size: 2.3rem;
    max-width: 55rem;

    @include mixins.mediaquery("sm") {
      font-size: 2.6rem;
    }

    @include mixins.mediaquery("xl") {
      font-size: 2.9rem;
    }
  }

  .description {
    font-size: 1.4rem;
    max-width: 51rem;
    color: var(--black-300);

    @include mixins.mediaquery("sm") {
      font-size: 1.5rem;
    }

    @include mixins.mediaquery("lg") {
      font-size: 1.6rem;
    }
  }

  .links {
    @include mixins.flex(space-between);
    width: 100%;
    margin-top: 2rem;

    .home {
      max-width: 4rem;
      display: block;

      svg {
        width: 100%;
      }
    }

    .socials {
      @include mixins.flex;
      gap: 1.8rem;
      font-size: 1.6rem;

      @include mixins.mediaquery("sm") {
        gap: 2.2rem;
      }
      .social {
        width: 2.5rem;
        display: block;

        svg path {
          fill: currentColor;
        }
      }
    }
  }

  .copyright {
    font-size: 1.1rem;
    color: var(--black-300);
    opacity: 0.8;
  }
}
