@use "styles/_mixins";

.recommendations {
  width: 100%;

  .title {
    font-size: 2.6rem;
    margin-bottom: 2rem;

    @include mixins.mediaquery("sm") {
      font-size: 2.8rem;
    }

    @include mixins.mediaquery("xl") {
      font-size: 3.2rem;
    }
  }

  .description {
    font-size: 1.6rem;
    color: var(--black-300);

    @include mixins.mediaquery("lg") {
      font-size: 1.7rem;
    }

    @include mixins.mediaquery("xl") {
      font-size: 1.8rem;
    }
  }

  .list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.5rem;
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding-top: 3rem;

    @include mixins.mediaquery("xs") {
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    }

    @include mixins.mediaquery("lg") {
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
      gap: 5rem;
    }

    .recommendation {
      @include mixins.flex(flex-start, flex-start);
      flex-flow: column wrap;
      background-color: rgba(148, 204, 255, 0.15);
      padding: 2rem 2.5rem;
      border-radius: 0 1.2rem 1.2rem 0;
      border-left: 4px solid var(--blue-100);
      position: relative;
      gap: 3rem;

      .icon {
        position: absolute;
        top: 2rem;
        right: 2.5rem;
        width: 14%;
        z-index: 0;

        svg path {
          fill: rgba(148, 204, 255, 0.25);
        }
      }

      .content,
      .author {
        position: relative;
        z-index: 1;
      }

      .content {
        font-size: 1.55rem;
        line-height: 1.65;
      }

      .author {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 2rem;
        font-size: 1.45rem;
        .avatar {
          width: 5.2rem;
          height: 5.2rem;
          border-radius: 50%;
          position: relative;

          img {
            border-radius: 50%;
          }
        }

        .info {
          @include mixins.flex(center, flex-start);
          flex-flow: column wrap;
          gap: 0.4rem;
          color: var(--black-300);

          .name {
            font-weight: bold;
          }
        }
      }
    }
  }
}
