@use "styles/_mixins";

.fact {
  width: 100%;
  background-color: var(--white-100);
  border-radius: 2rem;
  box-shadow: var(--tile-shadow);
  padding: 2.5rem 2.5rem 2rem;
  @include mixins.flex(space-between, flex-start);
  flex-flow: column wrap;

  .icon {
    width: 2.9rem;
    margin-bottom: 3rem;

    svg path {
      fill: var(--black-100);
    }
  }

  .title {
    font-size: 2rem;
    padding-bottom: 1.2rem;
    max-width: 80%;
  }

  .description {
    font-size: 1.4rem;
    color: var(--black-300);

    @include mixins.mediaquery("lg") {
      font-size: 1.5rem;
    }
  }
}
