@use "styles/_mixins";

.pre {
  position: relative;
  .copy {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    opacity: 0;
    z-index: 2;
    background-color: var(--syntax-background);
    transition: opacity 0.2s ease;

    &.copied {
      opacity: 1;
      .btn {
        border-color: var(--green-100);
        opacity: 1;

        svg path {
          fill: var(--green-100);
          stroke: var(--green-100);
        }
      }
    }

    .btn {
      background-color: transparent;
      border: 1px solid var(--black-100);
      border-radius: 5px;
      width: 3.7rem;
      height: 3.7rem;
      @include mixins.flex;
      cursor: pointer;
      padding: 1rem;
      opacity: 0.4;
      transition: opacity 0.2s ease;

      svg {
        width: 100%;

        path {
          stroke: var(--black-100);
        }
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  &:hover .copy {
    opacity: 1;
  }
}
