@use "styles/_mixins";

.post {
  width: 100%;
  background-color: var(--white-100);
  padding: 2rem 2.5rem;
  border-radius: 2rem;
  box-shadow: var(--tile-shadow);

  @include mixins.mediaquery("lg") {
    padding: 2.5rem 2.7rem;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 1rem;

    @include mixins.mediaquery("lg") {
      font-size: 2.2rem;
    }

    @include mixins.mediaquery("xl") {
      font-size: 2.5rem;
    }
  }

  .excerpt {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    color: var(--black-300);

    @include mixins.mediaquery("lg") {
      font-size: 1.45rem;
    }
  }

  &:hover {
    .title {
      color: var(--blue-200);
    }
  }

  .info {
    @include mixins.flex(space-between);

    .mainInfo {
      @include mixins.flex;
      font-size: 1.3rem;
      gap: 0.7rem;

      @include mixins.mediaquery("lg") {
        font-size: 1.4rem;
      }
    }

    .more {
      font-size: 1.3rem;
      gap: 1rem;
      @include mixins.flex;
      border: 0.8px solid var(--gray-100);
      padding: 0.6rem 1.4rem;
      border-radius: 1rem;

      .arrow {
        width: 9px;

        svg path {
          stroke: var(--black-100);
        }
      }
    }
  }
}
