@use "styles/_mixins";

.aside {
  flex: 0 1 250px;
  position: sticky;
  top: 6.5rem;
  max-height: calc(100vh - 12.5rem);
  margin-top: 4.5rem;
  margin-left: auto;
  display: none;

  @include mixins.mediaquery("xxl") {
    display: block;
  }

  .title {
    text-transform: uppercase;
    font-family: var(--font-walsheim), "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1.9px;
    font-size: 1.7rem;
    margin-bottom: 1.7rem;
  }

  .nav {
    max-height: calc(100vh - 16.5rem);
    overflow: auto;
  }

  .link {
    display: block;
    font-size: 1.5rem;
    transition: opacity 0.2s ease-out;
    opacity: 0.6;

    &.active {
      color: var(--blue-200);
    }

    &:hover {
      opacity: 1;
    }

    &.H2 {
      margin-top: 1.1rem;
    }

    &.H3,
    &.H4,
    &.H5,
    &.H6 {
      margin-top: 0.3rem;
    }

    &:first-child {
      margin-top: 0;
    }

    &.H3 {
      margin-left: 1.2rem;
      font-size: 1.4rem;
    }

    &.H4 {
      margin-left: 2.4rem;
      font-size: 1.3rem;
    }

    &.H5 {
      margin-left: 3.6rem;
      font-size: 1.2rem;
    }

    &.H6 {
      margin-left: 4.8rem;
      font-size: 1.1rem;
    }
  }
}
