@use "styles/_mixins";

.tile {
  height: 100%;
  box-shadow: var(--tile-shadow);
  border-radius: 2rem;
  background-color: var(--white-100);
  padding: 2rem;
  @include mixins.flex(space-between, flex-start);
  flex-flow: column wrap;
  gap: 2rem;
  position: relative;

  @include mixins.mediaquery("xs") {
    padding: 2.5rem;
  }

  .title {
    padding: 0.5rem;
    font-size: 1.7rem;
    font-family: var(--font-walsheim), "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    max-width: 30rem;
  }

  .avatar {
    position: absolute;
    width: 160px;
    right: 1%;
    top: -33%;
    display: none;
    pointer-events: none;

    @include mixins.mediaquery("xs") {
      display: block;
    }

    @include mixins.mediaquery("lg") {
      right: -3%;
    }

    @include mixins.mediaquery("xl") {
      right: -2%;
      top: -27%;
      width: 170px;
    }
  }

  .form {
    @include mixins.flex;
    flex-flow: column wrap;
    gap: 1rem;
    width: 100%;

    @include mixins.mediaquery("lg") {
      gap: 1.3rem;
    }

    input {
      width: 100%;
      min-width: auto;
    }

    .btn {
      width: 100%;
      border-radius: 1.5rem;
      border: 0 none;
      padding: 1.1rem 2rem;
      font-size: 1.4rem;
      background-color: var(--gray-100);
      cursor: pointer;

      .loader {
        position: relative;
        padding: 1.14rem 0;

        & > * {
          --color: var(--black-100);
          --size: 1rem;
        }
      }

      &.rejected {
        background-color: var(--red-100);
        color: var(--white-200);
      }

      &.fullfilled {
        background-color: var(--green-100);
        color: var(--white-200);
      }

      @include mixins.mediaquery("lg") {
        font-size: 1.5rem;
      }

      &:disabled {
        cursor: default;
      }
    }
  }
}
