@use "styles/_mixins";

.content {
  margin-bottom: 5rem;
  p,
  #introduction,
  blockquote {
    font-size: 1.6rem;
    line-height: 1.9;
    margin-bottom: 1.6rem;

    @include mixins.mediaquery("sm") {
      margin-bottom: 3rem;
    }

    @include mixins.mediaquery("lg") {
      font-size: 1.7rem;
    }

    @include mixins.mediaquery("xl") {
      font-size: 1.8rem;
    }
  }
}
