@use "styles/_mixins";

.content {
  p,
  #introduction {
    font-size: 1.6rem;
    line-height: 2.75rem;
    margin-bottom: 1.6rem;

    @include mixins.mediaquery("sm") {
      margin-bottom: 3rem;
    }

    @include mixins.mediaquery("lg") {
      font-size: 1.7rem;
      line-height: 2.9rem;
    }

    @include mixins.mediaquery("xl") {
      font-size: 1.8rem;
      line-height: 3.15rem;
    }
  }
}
