@use "styles/_mixins";

.content {
  width: 100%;
  margin-bottom: 5rem;
  p,
  strong,
  #introduction,
  blockquote,
  li,
  ul,
  ol {
    font-size: 1.6rem;
    line-height: 1.9;
    padding-bottom: 1.6rem;

    @include mixins.mediaquery("sm") {
      padding-bottom: 3rem;
    }

    @include mixins.mediaquery("lg") {
      font-size: 1.7rem;
    }

    @include mixins.mediaquery("xl") {
      font-size: 1.8rem;
    }
  }

  @include mixins.mediaquery("lg") {
    margin-bottom: 12rem;
  }

  li {
    padding: 0;
  }
}
