@use "_mixins";

body {
  font-family: var(--font-walsheim), "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-kenfolg), "Georgia", "Garamond", serif;
}

html {
  font-size: 62.5%;

  @include mixins.mediaquery("lg") {
    font-size: 55%;
  }

  @include mixins.mediaquery("xl") {
    font-size: 58%;
  }

  @include mixins.mediaquery("xxl") {
    font-size: 62.5%;
  }
}
