@media (prefers-color-scheme: light) {
  :root {
    --bg-100: rgb(247, 241, 243);
    --red-100: rgb(239, 71, 111);
    --yellow-100: rgb(252, 213, 59);
    --pink-100: rgb(252, 204, 214);
    --gray-100: rgb(236, 232, 235);
    --gray-200: rgb(236, 232, 235);
    --gray-300: rgb(181, 184, 185);
    --gray-400: rgb(252, 252, 252);
    --gray-500: rgb(236, 232, 235);
    --green-100: rgb(89, 203, 192);
    --blue-100: rgb(148, 204, 255);
    --blue-200: rgb(68, 50, 255);
    --blue-300: rgb(226, 233, 250);
    --white-100: rgb(255, 255, 255);
    --white-200: rgb(255, 255, 255);
    --black-100: rgb(0, 0, 0);
    --black-200: rgb(51, 51, 51);
    --black-300: rgba(0, 0, 0, 0.8);

    --scrollbar-thumb: rgb(145, 145, 145);
    --scrollbar-thumb-hover: rgb(183, 183, 183);
    --mdx-heading-color: var(--black-100);
    --tile-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px;
    --selection-color: rgb(255, 255, 255);
    --selection-background: rgb(68, 50, 255);
  }
}

[data-theme="light"] {
  --bg-100: rgb(247, 241, 243);
  --red-100: rgb(239, 71, 111);
  --yellow-100: rgb(252, 213, 59);
  --pink-100: rgb(252, 204, 214);
  --gray-100: rgb(236, 232, 235);
  --gray-200: rgb(236, 232, 235);
  --gray-300: rgb(181, 184, 185);
  --gray-400: rgb(252, 252, 252);
  --gray-500: rgb(236, 232, 235);
  --green-100: rgb(89, 203, 192);
  --blue-100: rgb(148, 204, 255);
  --blue-200: rgb(68, 50, 255);
  --blue-300: rgb(226, 233, 250);
  --white-100: rgb(255, 255, 255);
  --white-200: rgb(255, 255, 255);
  --black-100: rgb(0, 0, 0);
  --black-200: rgb(51, 51, 51);
  --black-300: rgba(0, 0, 0, 0.8);

  --scrollbar-thumb: rgb(145, 145, 145);
  --scrollbar-thumb-hover: rgb(183, 183, 183);
  --mdx-heading-color: var(--black-100);
  --tile-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px;
  --selection-color: rgb(255, 255, 255);
  --selection-background: rgb(68, 50, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --red-100: rgb(239, 71, 111);
    --yellow-100: rgb(252, 213, 59);
    --pink-100: rgb(252, 204, 214);
    --gray-200: rgb(236, 232, 235);
    --green-100: rgb(89, 203, 192);
    --blue-100: rgb(148, 204, 255);
    --blue-200: rgb(131, 121, 238);
    --blue-300: rgb(226, 233, 250);
    --white-200: rgb(255, 255, 255);
    --black-200: rgb(51, 51, 51);
    --black-300: rgba(255, 255, 255, 0.8);
    --mdx-heading-color: var(--black-100);
    --selection-color: rgb(255, 255, 255);
    --selection-background: rgb(68, 50, 255);

    --bg-100: rgb(22, 27, 34);
    --gray-100: #23262e;
    --black-100: rgb(240, 246, 252);
    --white-100: rgb(18, 18, 18);
    --gray-400: rgb(35, 36, 45);
    --gray-300: rgb(51, 52, 58);
    --gray-500: rgb(51, 52, 58);
    --mdx-heading-color: var(--red-100);
    --scrollbar-thumb: rgb(144, 144, 144);
    --scrollbar-thumb-hover: rgb(101, 101, 101);

    --tile-shadow: rgba(36, 36, 36, 0.781) 0px 1px 4px;
  }
}

[data-theme="dark"] {
  --red-100: rgb(239, 71, 111);
  --yellow-100: rgb(252, 213, 59);
  --pink-100: rgb(252, 204, 214);
  --gray-200: rgb(236, 232, 235);
  --green-100: rgb(89, 203, 192);
  --blue-100: rgb(148, 204, 255);
  --blue-200: rgb(131, 121, 238);
  --blue-300: rgb(226, 233, 250);
  --white-200: rgb(255, 255, 255);
  --black-200: rgb(51, 51, 51);
  --black-300: rgba(255, 255, 255, 0.8);
  --mdx-heading-color: var(--black-100);
  --selection-color: rgb(255, 255, 255);
  --selection-background: rgb(131, 121, 238);
  --bg-100: rgb(22, 27, 34);
  --gray-100: #23262e;
  --black-100: rgb(240, 246, 252);
  --white-100: rgb(18, 18, 18);
  --gray-400: rgb(35, 36, 45);
  --gray-300: rgb(51, 52, 58);
  --gray-500: rgb(51, 52, 58);
  --mdx-heading-color: var(--red-100);
  --scrollbar-thumb: rgb(144, 144, 144);
  --scrollbar-thumb-hover: rgb(101, 101, 101);

  --tile-shadow: rgba(36, 36, 36, 0.781) 0px 1px 4px;
}

/* Highlighting code */

@media (prefers-color-scheme: light) {
  :root {
    --syntax-comment: #a0a1a7;
    --syntax-punctuation: #999;
    --syntax-pink: #905;
    --syntax-green: #690;
    --syntax-orange: #9a6e3a;
    --syntax-blue: #07a;
    --syntax-red: #dd4a68;
    --syntax-yellow: #e90;
    --syntax-background: var(--gray-200);
    --syntax-attr-value: #07a;
    --syntax-tag: #905;
    --syntax-prop: #905;
    --base-syntax-color: #000;
    --syntax-selector: #690;
    --syntax-css-class: #690;
    --syntax-css-id: #07a;
    --syntax-important: #e90;
    --syntax-css-unit: #905;
    --syntax-css-number: #905;
    --syntax-css-variable: #e90;
    --syntax-maybe-class-name: #dd4a68;
    --syntax-js-base-color: #000;
    --syntax-constant: #905;
    --syntax-builtin: #690;
    --syntax-operator: #9a6e3a;
    --syntax-function: #dd4a68;
    --syntax-attr-name: #690;
    --syntax-number: #905;
    --syntax-boolean: #905;
    --syntax-variable: #e90;
    --syntax-scrollbar-color: var(--gray-300);
    --syntax-selection: #d5d5d5;
  }
}

[data-theme="light"] {
  --syntax-comment: #a0a1a7;
  --syntax-punctuation: #999;
  --syntax-pink: #905;
  --syntax-green: #690;
  --syntax-orange: #9a6e3a;
  --syntax-blue: #07a;
  --syntax-red: #dd4a68;
  --syntax-yellow: #e90;
  --syntax-background: var(--gray-200);
  --syntax-attr-value: #07a;
  --syntax-tag: #905;
  --syntax-prop: #905;
  --base-syntax-color: #000;
  --syntax-selector: #690;
  --syntax-css-class: #690;
  --syntax-css-id: #07a;
  --syntax-important: #e90;
  --syntax-css-unit: #905;
  --syntax-css-number: #905;
  --syntax-css-variable: #e90;
  --syntax-maybe-class-name: #dd4a68;
  --syntax-js-base-color: #000;
  --syntax-constant: #905;
  --syntax-builtin: #690;
  --syntax-operator: #9a6e3a;
  --syntax-function: #dd4a68;
  --syntax-attr-name: #690;
  --syntax-number: #905;
  --syntax-boolean: #905;
  --syntax-variable: #e90;
  --syntax-scrollbar-color: var(--gray-300);
  --syntax-selection: #d5d5d5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --syntax-comment: #5f6167;
    --syntax-punctuation: rgb(199, 199, 199);
    --syntax-background: #23262e;
    --syntax-red: #ee5d43;
    --syntax-green: #abe338;
    --syntax-orange: #f39c12;
    --syntax-blue: #c74ded;
    --syntax-attr-value: #abe338;
    --syntax-tag: #f92672;
    --base-syntax-color: #fff;
    --syntax-selector: #f92672;
    --syntax-css-class: #ffe66d;
    --syntax-css-id: #ee5d43;
    --syntax-important: #c74ded;
    --syntax-css-base-color: #ee5d43;
    --syntax-prop: #fff;
    --syntax-css-unit: #f39c12;
    --syntax-css-number: #f39c12;
    --syntax-css-variable: #00e8c6;
    --syntax-maybe-class-name: #ffe66d;
    --syntax-js-base-color: #00e8c6;
    --syntax-constant: #00e8c6;
    --syntax-builtin: #fff;
    --syntax-operator: #ee5d43;
    --syntax-function: #ffe66d;
    --syntax-attr-name: #ffe66d;
    --syntax-number: #f39c12;
    --syntax-boolean: #ee5d43;
    --syntax-variable: #00e8c6;
    --syntax-scrollbar-color: var(--bg-100);
    --syntax-selection: #23262e;
  }
}

[data-theme="dark"] {
  --syntax-comment: #5f6167;
  --syntax-punctuation: rgb(199, 199, 199);
  --syntax-background: #23262e;
  --syntax-red: #ee5d43;
  --syntax-green: #abe338;
  --syntax-orange: #f39c12;
  --syntax-blue: #c74ded;
  --syntax-attr-value: #abe338;
  --syntax-tag: #f92672;
  --base-syntax-color: #fff;
  --syntax-selector: #f92672;
  --syntax-css-class: #ffe66d;
  --syntax-css-id: #ee5d43;
  --syntax-important: #c74ded;
  --syntax-css-base-color: #ee5d43;
  --syntax-prop: #fff;
  --syntax-css-unit: #f39c12;
  --syntax-css-number: #f39c12;
  --syntax-css-variable: #00e8c6;
  --syntax-maybe-class-name: #ffe66d;
  --syntax-js-base-color: #00e8c6;
  --syntax-constant: #00e8c6;
  --syntax-builtin: #fff;
  --syntax-operator: #ee5d43;
  --syntax-function: #ffe66d;
  --syntax-attr-name: #ffe66d;
  --syntax-number: #f39c12;
  --syntax-boolean: #ee5d43;
  --syntax-variable: #00e8c6;
  --syntax-scrollbar-color: var(--bg-100);
  --syntax-selection: #303541;
}
