@media (prefers-color-scheme: light) {
  :root {
    --bg-100: rgb(247, 241, 243);
    --red-100: rgb(239, 71, 111);
    --pink-100: rgb(252, 204, 214);
    --gray-100: rgb(236, 232, 235);
    --gray-200: rgb(236, 232, 235);
    --gray-300: rgb(181, 184, 185);
    --gray-400: rgb(252, 252, 252);
    --green-100: rgb(89, 203, 192);
    --blue-100: rgb(148, 204, 255);
    --blue-200: rgb(68, 50, 255);
    --blue-300: rgb(226, 233, 250);
    --white-100: rgb(255, 255, 255);
    --black-100: rgb(51, 51, 51);

    --tile-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px;
    --input-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
}

[data-theme="light"] {
  --bg-100: rgb(247, 241, 243);
  --red-100: rgb(239, 71, 111);
  --pink-100: rgb(252, 204, 214);
  --gray-100: rgb(236, 232, 235);
  --gray-200: rgb(236, 232, 235);
  --gray-300: rgb(181, 184, 185);
  --gray-400: rgb(252, 252, 252);
  --green-100: rgb(89, 203, 192);
  --blue-100: rgb(148, 204, 255);
  --blue-200: rgb(68, 50, 255);
  --blue-300: rgb(226, 233, 250);
  --white-100: rgb(255, 255, 255);
  --black-100: rgb(51, 51, 51);

  --tile-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px;
  --input-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

[data-theme="dark"] {
}
