@use "styles/_mixins";

.about {
  @include mixins.flex;
  flex-flow: column wrap;
  width: 100%;
  padding: 0 1rem;
  margin-top: 1.5rem;
  gap: 10rem;
  max-width: 50rem;

  @include mixins.mediaquery("lg") {
    padding: 0;
    margin-top: 3rem;
    max-width: 100%;
  }

  .container {
    width: 100%;
    @include mixins.flex(space-between, flex-start);
    flex-flow: column wrap;
    gap: 8rem;

    @include mixins.mediaquery("lg") {
      flex-flow: row nowrap;
    }

    .title {
      font-size: 2.6rem;
      margin-bottom: 2rem;

      @include mixins.mediaquery("sm") {
        font-size: 2.8rem;
      }

      @include mixins.mediaquery("xl") {
        font-size: 3.2rem;
      }
    }

    .description {
      font-size: 1.6rem;
      line-height: 1.8;
      color: var(--black-300);

      @include mixins.mediaquery("lg") {
        font-size: 1.7rem;
      }

      @include mixins.mediaquery("xl") {
        font-size: 1.8rem;
      }
    }
  }

  .githubGraph {
    @include mixins.flex;
    flex-flow: column wrap;
    display: none;

    @include mixins.mediaquery("lg") {
      display: flex;
    }
    img {
      border-radius: 2rem;
    }

    .caption {
      margin-top: 1.5rem;
      font-size: 1.4rem;
      font-style: italic;
      opacity: 0.6;
    }
  }
}
