@use "styles/_mixins";

.link {
  grid-column: span 2;
  grid-row: span 2;
}

.article {
  background-color: var(--white-100);
  box-shadow: var(--tile-shadow);
  border-radius: 2rem;
  padding: 2rem;
  @include mixins.flex(space-between, flex-start);
  flex-flow: column wrap;
  height: 100%;
  color: var(--black-100);

  .info {
    padding: 0 0.5rem 0.5rem;
    @include mixins.flex(space-between, flex-start);
    flex-flow: column wrap;

    @include mixins.mediaquery("lg") {
      padding: 0.5rem 0.7rem;
    }

    .title {
      font-size: 2rem;
      margin-bottom: 1rem;

      @include mixins.mediaquery("lg") {
        font-size: 2.2rem;
      }

      @include mixins.mediaquery("xl") {
        font-size: 2.5rem;
      }
    }

    .description {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      color: var(--black-300);

      @include mixins.mediaquery("lg") {
        font-size: 1.45rem;
      }
    }

    .additional {
      width: 100%;
      @include mixins.flex(space-between);
      margin: 1rem 0;

      @include mixins.mediaquery("lg") {
        margin: 2rem 0 1.2rem;
      }

      .more {
        font-size: 1.3rem;
        gap: 1rem;
        @include mixins.flex;
        border: 0.8px solid var(--gray-100);
        padding: 0.6rem 1.4rem;
        border-radius: 1rem;

        .arrow {
          width: 9px;

          svg path {
            stroke: var(--black-100);
          }
        }
      }

      .timeToRead {
        font-size: 1.3rem;

        @include mixins.mediaquery("lg") {
          font-size: 1.4rem;
        }
      }
    }
  }

  .image {
    width: 100%;
    flex: 1 1 auto;
    background-size: cover;
    background-position: center center;
    border-radius: 2rem;
    min-height: 20rem;

    @include mixins.mediaquery("xs") {
      min-height: 30rem;
    }

    @include mixins.mediaquery("lg") {
      min-height: 20rem;
    }
  }

  &:hover {
    .info .title {
      color: var(--blue-200);
    }
  }
}
