@use "styles/_mixins";

.form {
  @include mixins.flex;
  flex-flow: column wrap;
  gap: 1.2rem;
  width: 100%;
  max-width: 42rem;

  input {
    width: 100%;
    min-width: auto;
  }

  .error {
    color: var(--red-100);
    font-size: 1.2rem;
    align-self: flex-start;
    margin-top: -0.3rem;
    padding: 0 0.5rem 0 0.8rem;
  }

  .message {
    border-radius: 1.5rem;
    padding: 1.1rem 2rem;
    font-size: 1.4rem;
    width: 100%;
    outline: 0 none;
    border: 1px solid var(--gray-100);
    background-color: var(--gray-400);
    resize: vertical;

    &:focus {
      border-color: var(--gray-300);
    }

    &.error {
      border-color: var(--red-100);
    }
  }

  .submit {
    margin-top: 1rem;
  }
}
